.deleBtn {
    background-color: #f54242;
    color: #ffffff;
    border: 1px solid #f54242;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}
.viewBtn {
    background-color: #42f5a3;
    color: #ffffff;
    border: 1px solid #42f5a3;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    text-decoration: none;
}
.updateBtn {
    background-color: #42aaf5;
    color: #ffffff;
    border: 1px solid #42aaf5;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    text-decoration: none;
}
.createBtn {
    background-color: #f5e042;
    color: #ffffff;
    border: 1px solid #f5e042;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-decoration: none;
}
.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h1 {
    color: #000000;
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

label {
    display: inline-block;
    width: 100px;
}
form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;;
    border-radius: 5px;
}
form{
    margin-bottom: 20px;
    padding: 10px;
    align-items: center;
}
input[type="text"], textarea {
    width: 400px;
    padding: 5px;
    border-radius: 2px;
    margin: 5px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #e0a934;
    background-color: #7df543;
}

input[type="submit"]:hover {
    background-color: #e0a934;
    color: #7df543;
}
input[type="submit"]:active {
    background-color: #e0a934;
    color: #7df543;
}
.deleBtn {
    background-color: #f54242;
    color: #ffffff;
    border: 1px solid #f54242;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}